{% extends "layouts/base.html" %}

{% block content %}

<div class="main">

    <!-- NAVIGATION -->
    <ul class="navigation">
        <li><a href="/">patrik.place</a></li>
        <li><a href="/blog">blog</a></li>
        <li>{{ title }}</li>
    </ul>

    <div>
        <ul class="post-tags">
            {% for tag in tags %}
                <li class="tag">
                    <a href="/blog/tag/{{ tag | slugify }}">{{tag}}</a>
                </li>
            {% endfor %}
        </ul>
        <p class="post-date" style="margin: 10px 0;"><time>{{ date | blogDate }}</time></p>
        {{ content | safe }}
    </div>

</div>
{% endblock %}