body {
    max-width: 610px;
    padding: 0;
    margin: 0 auto;
    font-family:'consolas', consolas;
    font-size: 16px;
    background-color: rgb(241, 241, 241);
}

.main {
    max-width: 610px;
    min-height: 100vh;
    padding: 0;
    margin: 50px 20px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

p {
    line-height: 1.65;
    font-size: 16px;
    color: rgb(41, 41, 41);
}

a:link,
a:visited {
    text-decoration: underline;
    color: grey;
}

a:hover,
a:active {
    text-decoration: underline;
    color: rgb(91, 91, 91);
}

/* NAVIGATION */

ul.navigation {
    list-style: none;
    padding: 0;
    margin: 16px 0 40px 0;
}

ul.navigation li {
  display: inline;
}

ul.navigation li+li:before {
  padding: 4px;
  color: rgb(152, 152, 152);
  content: "/\00a0";
}

.navigation a:link,
.navigation a:visited {
    text-decoration: none;
    color: grey;
}

.navigation a:hover,
.navigation a:active {
    text-decoration: none;
    color: rgb(91, 91, 91);
}

/* WEB-RING */

.webring {
    width: fit-content;
    border: 1.7px dashed;
    border-radius: 12px;
    padding: 30px;
    margin: auto;
}

.webring p {
    margin: 0 0 16px 0;
}

.webring ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}

.webring li {
    margin: 5px 0;
}

.webring ul li::before {
  content: "\2012";
  margin-right: 1rem;
}

/* BLOG */

.post-list {
    list-style: none;
    padding: 0;
    gap: 15px;
}

.post {
    background: rgb(255, 255, 255);
    border: 1.5px dashed black;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post a:link,
.post a:visited {
    text-decoration: none;
    color: black;
}

.post a:hover,
.post a:active {
    text-decoration: underline;
}

.post-date {
    margin: 0;
    color: rgb(106, 106, 106);
}

.post-tags {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 3px -3px;
}

.tag a:link,
.tag a:visited {
    padding: 3px 5px;
    margin: 0 3px;
    background: rgb(225, 225, 225);
    /*border: 1px solid grey;*/
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.tag a:hover,
.tag a:active {
    padding: 3px 5px;
    margin: 0 3px;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    text-decoration: none;
    color: grey;
}



/* BOOKSHELF */

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;

    list-style-type: none;
    padding: 16px 0 0 0;
    margin: 16px 0;

    /*
    margin-inline: auto;
    justify-content: space-evenly;
    justify-items: center;
    */
}

.book-category {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 8px; */
    flex: 1 0 0;
    align-self: stretch;

    background-color: rgb(255, 255, 255);
    margin: 2.5px;
}

.book-category p {
    font-size: 14px;
    padding: 10px;
    margin: 0px;
}

.book-grid li {
    display: flex;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    flex: 1 0 0;
    align-self: stretch;
    border: 1px black solid;
}

.book-grid a:link,
.book-grid a:visited {
    text-decoration: none;
}

.book-grid a:hover,
.book-grid a:active {
    text-decoration: none;   
}

.book-img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    flex: 1 0 0;
    align-self: stretch;

    background: white;
}

.book-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    padding: 5px 10px;
    background: white;
}

.book-title {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

.book-author {
    margin: 0;
    color: grey;
    font-size: 14px;
}

.book-item:hover .book-info {
    background: rgb(255, 250, 216);
}

.book-category p span:before {
    animation: dots 2s linear infinite;
    content: '';
  }

  @keyframes dots {
    0%, 20% {
      content: 'reading.';
    }
    40% {
      content: 'reading..';
    }
    60% {
      content: 'reading...';
    }
    90%, 100% {
      content: 'reading';
    }
}

.reading-tag-none {
    display: none;
}