---
layout: layouts/bookshelf.html 
title: bookshelf
---

<p> this is a collection of books (and other texts) that are in my bookshelf, ones I've read, ones I want to read and the ones I'm reading right now... </p>

<ul class="book-grid">

    <!-- BOOKS I'M CURRENTLY READING -->

    <li class="book-category">
        <p><span></span></p>
    </li>

    {% for book in collections['books-reading'] | reverse %}
        {% include "book-tile.html"%}
    {% endfor %}
        

    <!-- BOOKS I'VE READ -->

    <li class="book-category">
        <p>books I've read</p>
    </li>

    {% for book in collections['books-read'] | reverse %}
        {% include "book-tile.html"%}
    {% endfor %}


    <!-- BOOKS I WANT TO READ -->

    <li class="book-category">
        <p>books I want to read</p>
    </li>

    {% for book in collections['books-wishlist'] | reverse %}
        {% include "book-tile.html"%}
    {% endfor %}

</ul>